body {
    background-color: #EAF6F6;
    }
HR{

width: 10%;
border-style: none;
border-top: dotted;
border-width: 5PX;
border-color: GREY;

}
h1{
    color:#66BFBF
}
h2{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}